In [ ]:
#All data is on a singular excel file, pulling from different sheets on the respective file

In [65]:
import pandas as pd

In [86]:
excel_file_path1 = r'C:\Users\Ajith\OneDrive\Desktop\interestRate.xlsx'

# Load the Excel file
interestRates = pd.ExcelFile(excel_file_path1)

# Print the Excel file object to check its details
print(interestRates)

<pandas.io.excel._base.ExcelFile object at 0x0000013F9C3FD050>

In [80]:
excel_file_path = r"C:\Users\Ajith\OneDrive\Desktop\INCDATA.xlsx"

# Load the Excel file
incomeData = pd.ExcelFile(excel_file_path)

# Print the Excel file object to check its details
print(incomeData)

<pandas.io.excel._base.ExcelFile object at 0x0000013F9C9BCD50>

In [120]:
#dfIncomeData = pd.read_excel(excel_file_path)
#dfIncomeData

In [122]:
dfInterest = pd.read_excel(excel_file_path1)
dfInterest.head()

   Year    Rate
0  2023  0.0700
1  2022  0.0553
2  2021  0.0315
3  2020  0.0338
4  2019  0.0413

In [88]:
mergeDf = pd.merge(dfIncomeData, dfInterest, on = 'Year', how = 'outer')
mergeDf

    Year   Income    Rate
0   2022  74580.0  0.0553
1   2021  70780.0  0.0315
2   2020  68010.0  0.0338
3   2019  68700.0  0.0413
4   2018  63180.0  0.0470
5   2017  61140.0  0.0414
6   2017  61370.0  0.0414
7   2016  59040.0  0.0379
8   2015  56520.0  0.0399
9   2014  53660.0  0.0431
10  2013  53590.0  0.0416
11  2013  51940.0  0.0416
12  2012  51020.0  0.0388
13  2011  50050.0  0.0465
14  2010  49280.0  0.0486
15  2009  49780.0  0.0538
16  2008  50300.0  0.0623
17  2007  50230.0  0.0640
18  2006  48200.0  0.0647
19  2005  46330.0  0.0593
20  2004  44330.0  0.0588
21  2003  43320.0  0.0589
22  2002  42410.0  0.0657
23  2001  42230.0  0.0701
24  2000  41990.0  0.0808
25  1999  40700.0  0.0746
26  1998  38890.0  0.0691
27  1997  37010.0  0.0757
28  1996  35490.0  0.0776
29  1995  34080.0  0.0786
30  1994  32260.0  0.0828
31  1993  31240.0  0.0717
32  1992  30640.0  0.0827
33  1991  30130.0  0.0909
34  1990  29940.0  0.0997
35  1989  28910.0  0.1025
36  1988  27230.0  0.1038
37  1987  26060.0  0.1040
38  1986  24900.0  0.1039
39  1985  23620.0  0.1243
40  1984  22420.0  0.1388
41  1983  20890.0  0.1324
42  1982  20170.0  0.1604
43  1981  19070.0  0.1664
44  1980  17710.0  0.1374
45  1979  16460.0  0.1120
46  1978  15060.0  0.0964
47  1977  13570.0  0.0885
48  1976  12690.0  0.0887
49  1975  11800.0  0.0905
50  1974  11200.0  0.0919
51  1973  10510.0  0.0804
52  1972   9697.0  0.0738
53  1971   9028.0     NaN
54  1970   8734.0     NaN
55  1969   8389.0     NaN
56  1968   7743.0     NaN
57  1967   7143.0     NaN
58  2023      NaN  0.0700

In [192]:
us_regions = {
    "West": ["California", "Montana", "Idaho", "Nevada", "Wyoming", "Utah", "Arizona", "Colorado", "New Mexico", "Hawaii", "Alaska", "Oregon", "Washington"],
    "West Adj": ["California adj", "Montana adj", "Idaho adj", "Nevada adj", "Wyoming adj", "Utah adj", "Arizona adj", "Colorado adj", "New Mexico adj", "Hawaii adj", "Alaska adj", "Oregon adj", "Washington adj"],
    "South": ["Texas", "Oklahoma", "Arkansas", "Louisiana", "Mississippi", "Alabama", "Tennessee", "Kentucky", "Florida", "Georgia", "South Carolina", "North Carolina", "Virginia", "West Virginia", "Maryland", "Delaware", "Washington, D.C."],
    "South Adj": ["Texas adj", "Oklahoma adj", "Arkansas adj", "Louisiana adj", "Mississippi adj", "Alabama adj", "Tennessee adj", "Kentucky adj", "Florida adj", "Georgia adj", "South Carolina adj", "North Carolina adj", "Virginia adj", "West Virginia adj", "Maryland adj", "Delaware adj", "Washington, D.C. adj"],
    "MidWest": ["North Dakota", "South Dakota", "Nebraska", "Kansas", "Minnesota", "Iowa", "Missouri", "Wisconsin", "Illinois", "Michigan", "Indiana", "Ohio"],
    "MidWest Adj": ["North Dakota adj", "South Dakota adj", "Nebraska adj", "Kansas adj", "Minnesota adj", "Iowa adj", "Missouri adj", "Wisconsin adj", "Illinois adj", "Michigan adj", "Indiana adj", "Ohio adj"],
    "NorthEast": ["Maine", "New Hampshire", "Vermont", "Massachusetts", "Rhode Island", "Connecticut", "New York", "Pennsylvania", "New Jersey"],
    "NorthEast Adj": ["Maine adj", "New Hampshire adj", "Vermont adj", "Massachusetts adj", "Rhode Island adj", "Connecticut adj", "New York adj", "Pennsylvania adj", "New Jersey adj"]
}
print(us_regions)

{'West': ['California', 'Montana', 'Idaho', 'Nevada', 'Wyoming', 'Utah', 'Arizona', 'Colorado', 'New Mexico', 'Hawaii', 'Alaska', 'Oregon', 'Washington'], 'West Adj': ['California adj', 'Montana adj', 'Idaho adj', 'Nevada adj', 'Wyoming adj', 'Utah adj', 'Arizona adj', 'Colorado adj', 'New Mexico adj', 'Hawaii adj', 'Alaska adj', 'Oregon adj', 'Washington adj'], 'South': ['Texas', 'Oklahoma', 'Arkansas', 'Louisiana', 'Mississippi', 'Alabama', 'Tennessee', 'Kentucky', 'Florida', 'Georgia', 'South Carolina', 'North Carolina', 'Virginia', 'West Virginia', 'Maryland', 'Delaware', 'Washington, D.C.'], 'South Adj': ['Texas adj', 'Oklahoma adj', 'Arkansas adj', 'Louisiana adj', 'Mississippi adj', 'Alabama adj', 'Tennessee adj', 'Kentucky adj', 'Florida adj', 'Georgia adj', 'South Carolina adj', 'North Carolina adj', 'Virginia adj', 'West Virginia adj', 'Maryland adj', 'Delaware adj', 'Washington, D.C. adj'], 'MidWest': ['North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri', 'Wisconsin', 'Illinois', 'Michigan', 'Indiana', 'Ohio'], 'MidWest Adj': ['North Dakota adj', 'South Dakota adj', 'Nebraska adj', 'Kansas adj', 'Minnesota adj', 'Iowa adj', 'Missouri adj', 'Wisconsin adj', 'Illinois adj', 'Michigan adj', 'Indiana adj', 'Ohio adj'], 'NorthEast': ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey'], 'NorthEast Adj': ['Maine adj', 'New Hampshire adj', 'Vermont adj', 'Massachusetts adj', 'Rhode Island adj', 'Connecticut adj', 'New York adj', 'Pennsylvania adj', 'New Jersey adj']}

In [194]:
file_path3 = r"C:\Users\Ajith\OneDrive\Desktop\CountyIncBreakdown.xlsx"
dfStates = pd.read_excel(file_path3)
dfStates = dfStates.dropna(how = 'all')
dfStates.head()

,State,1984,1985,1986,1987,1988,1989,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Alabama,43850.00,44910.00,46110.00,46010.00,44850.00,45840.00,47970.00,48250.00,49880.00,...,53900.00,53970.00,58050.00,51140.0,53880.00,56660.00,59980.0,56660.00,64010.00,61650.00
1,Alabama adj,45735.55,48412.98,50582.67,52175.34,52698.75,56062.32,61257.69,63641.75,67288.12,...,98529.20,99790.53,108205.20,96143.2,101348.28,107314.04,114861.7,109863.74,125267.57,121388.85
2,Alaska,81970.00,85210.00,75580.00,77480.00,74430.00,77550.00,80710.00,80490.00,80790.00,...,72690.00,79030.00,88910.00,81800.0,90920.00,90860.00,91960.0,90860.00,89290.00,84260.00
3,Alaska adj,85494.71,91856.38,82911.26,87862.32,87455.25,94843.65,103066.67,106166.31,108985.71,...,132877.32,146126.47,165728.24,153784.0,171020.52,172088.84,176103.4,176177.54,174740.53,165907.94
4,Arizona,54270.00,58500.00,61460.00,62360.00,59430.00,61490.00,60020.00,60920.00,56740.00,...,61540.00,58410.00,64540.00,59580.0,63250.00,68510.00,70390.0,68510.00,80500.00,75620.00

In [195]:
state_to_region = {}
for region, states in us_regions.items():
    for state in states:
        state_to_region[state] = region

# Map each state to its region 
dfStates['Region'] = dfStates['State'].map(state_to_region)
dfStates.head()

,State,1984,1985,1986,1987,1988,1989,1990,1991,1992,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Region
0,Alabama,43850.00,44910.00,46110.00,46010.00,44850.00,45840.00,47970.00,48250.00,49880.00,...,53970.00,58050.00,51140.0,53880.00,56660.00,59980.0,56660.00,64010.00,61650.00,South
1,Alabama adj,45735.55,48412.98,50582.67,52175.34,52698.75,56062.32,61257.69,63641.75,67288.12,...,99790.53,108205.20,96143.2,101348.28,107314.04,114861.7,109863.74,125267.57,121388.85,South Adj
2,Alaska,81970.00,85210.00,75580.00,77480.00,74430.00,77550.00,80710.00,80490.00,80790.00,...,79030.00,88910.00,81800.0,90920.00,90860.00,91960.0,90860.00,89290.00,84260.00,West
3,Alaska adj,85494.71,91856.38,82911.26,87862.32,87455.25,94843.65,103066.67,106166.31,108985.71,...,146126.47,165728.24,153784.0,171020.52,172088.84,176103.4,176177.54,174740.53,165907.94,West Adj
4,Arizona,54270.00,58500.00,61460.00,62360.00,59430.00,61490.00,60020.00,60920.00,56740.00,...,58410.00,64540.00,59580.0,63250.00,68510.00,70390.0,68510.00,80500.00,75620.00,West

In [196]:
dfReshaped = pd.melt(dfStates, id_vars=['State', 'Region'], var_name='Year', value_name='Income')
dfReshaped['Year'] = dfReshaped['Year'].astype(int)
print(dfReshaped.head())

         State     Region  Year    Income
0      Alabama      South  1984  43850.00
1  Alabama adj  South Adj  1984  45735.55
2       Alaska       West  1984  81970.00
3   Alaska adj   West Adj  1984  85494.71
4      Arizona       West  1984  54270.00

In [198]:
avg_income_per_region = dfReshaped.groupby(['Year', 'Region'])['Income'].mean().reset_index()

# Pivot the dataframe to get years as columns
average_income_df = avg_income_per_region.pivot(index='Region', columns='Year', values='Income')

# Reset the index of the pivoted DataFrame
interest_rates_row = dfInterest.set_index('Year').T
interest_rates_row.index = ['Interest Rate']

# Combine the average income DataFrame with interest rates
combined_df = pd.concat([average_income_df, interest_rates_row])

combined_cleaned_df = combined_df.dropna(axis=1, how='all', subset=combined_df.index.drop('Interest Rate'))

# Display the combined DataFrame
combined_cleaned_df.head(10)

Year,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
MidWest,55865.833333,55300.000000,57310.000000,57514.166667,59309.166667,59510.833333,58786.666667,57365.833333,57622.500000,57478.333333,...,63264.166667,63920.000000,66577.500000,67384.166667,69797.500000,70641.666667,71618.333333,70641.666667,78383.333333,77280.833333
MidWest Adj,58268.064167,59613.400000,62869.070000,65221.065000,69688.270833,72781.749167,75070.573333,75665.534167,77732.752500,79262.621667,...,115646.896667,118188.080000,124100.460000,126682.233333,131289.097500,133795.316667,137149.108333,136974.191667,153396.183333,152165.960833
NorthEast,61307.777778,63792.222222,66610.000000,67557.777778,70252.222222,72960.000000,69782.222222,66934.444444,66440.000000,64912.222222,...,71450.000000,72126.666667,74506.666667,74254.444444,76547.777778,78466.666667,78956.666667,78466.666667,88975.555556,86704.444444
NorthEast Adj,63944.012222,68768.015556,73071.170000,76610.520000,82546.361111,89230.080000,89111.897778,88286.532222,89627.560000,89513.954444,...,130610.600000,133362.206667,138880.426667,139598.355556,143986.370000,148615.866667,151202.016667,152146.866667,174125.162222,170721.051111
South,51542.500000,51275.625000,53020.625000,54951.250000,54682.500000,55009.375000,54543.750000,53456.875000,53102.500000,53168.750000,...,59296.875000,58342.500000,58971.875000,58930.625000,60445.000000,62816.250000,65176.875000,62816.250000,70430.000000,68426.250000
South Adj,52109.670667,53654.216000,56646.154667,60305.364000,62097.966667,65437.022667,67501.368667,68770.901333,69943.851333,71282.348667,...,104997.882667,104071.581333,106679.205333,106628.586667,110104.962000,115730.976000,120776.496667,118480.656000,132812.457333,129680.965333
West,61200.769231,60436.153846,61313.076923,62224.615385,61366.153846,63026.153846,62911.538462,61804.615385,62882.307692,63653.076923,...,65446.153846,66363.076923,70126.153846,69566.153846,72397.692308,75170.000000,76210.000000,75170.000000,82741.538462,80405.384615
West Adj,63908.086667,65719.371667,67674.844167,70364.700000,72297.750000,77024.540000,80593.598333,81985.742500,85333.243333,88711.070000,...,119095.723333,121927.682500,128755.800000,131130.000000,135968.085000,143284.256667,146901.245833,146688.581667,163319.804167,159405.317500
Interest Rate,0.138800,0.124300,0.103900,0.104000,0.103800,0.102500,0.099700,0.090900,0.082700,0.071700,...,0.046500,0.038800,0.041600,0.043100,0.039900,0.037900,0.041400,0.047000,0.041300,0.033800

In [200]:
combined_cleaned_df_transposed = combined_cleaned_df.T
combined_cleaned_df_transposed.head(10)

,MidWest,MidWest Adj,NorthEast,NorthEast Adj,South,South Adj,West,West Adj,Interest Rate
Year,,,,,,,,,
1984,55865.833333,58268.064167,61307.777778,63944.012222,51542.500,52109.670667,61200.769231,63908.086667,0.1388
1985,55300.000000,59613.400000,63792.222222,68768.015556,51275.625,53654.216000,60436.153846,65719.371667,0.1243
1986,57310.000000,62869.070000,66610.000000,73071.170000,53020.625,56646.154667,61313.076923,67674.844167,0.1039
1987,57514.166667,65221.065000,67557.777778,76610.520000,54951.250,60305.364000,62224.615385,70364.700000,0.1040
1988,59309.166667,69688.270833,70252.222222,82546.361111,54682.500,62097.966667,61366.153846,72297.750000,0.1038
1989,59510.833333,72781.749167,72960.000000,89230.080000,55009.375,65437.022667,63026.153846,77024.540000,0.1025
1990,58786.666667,75070.573333,69782.222222,89111.897778,54543.750,67501.368667,62911.538462,80593.598333,0.0997
1991,57365.833333,75665.534167,66934.444444,88286.532222,53456.875,68770.901333,61804.615385,81985.742500,0.0909
1992,57622.500000,77732.752500,66440.000000,89627.560000,53102.500,69943.851333,62882.307692,85333.243333,0.0827
1993,57478.333333,79262.621667,64912.222222,89513.954444,53168.750,71282.348667,63653.076923,88711.070000,0.0717

In [146]:
#not needed
avg_income_per_region = dfMerge.groupby(['Year', 'Region'])['Income'].mean().reset_index()

# Merge with interest rates to ensure interest rates are included
avg_income_per_region = pd.merge(avg_income_per_region, dfInterest, on='Year', how='left')

# Pivot the dataframe to get years as columns
average_income_df = avg_income_per_region.pivot(index='Region', columns='Year', values='Income')

# Add the interest rates as a separate row
interest_rates_row = dfInterest.set_index('Year').T
interest_rates_row.index = ['Interest Rate']
average_income_with_rates_df = pd.concat([average_income_df, interest_rates_row])

# Display the combined results
print(average_income_with_rates_df)

Year                   1984          1988          1992          1996  \
Region I       62345.000000  70926.666667  67466.666667  65893.333333
Region II      63080.000000  73295.000000  67700.000000  72800.000000
Region III     60414.000000  65558.000000  62328.000000  64174.000000
Region IV      46817.500000  50811.250000  49691.250000  55685.000000
Region IX      64195.000000  66170.000000  66817.500000  66210.000000
Region V       58176.666667  64335.000000  60575.000000  67043.333333
Region VI      50374.000000  48828.000000  49642.000000  50236.000000
Region VII     54885.000000  55352.500000  56290.000000  58880.000000
Region VIII    55896.666667  55295.000000  56918.333333  58155.000000
Region X       63245.000000  65555.000000  65392.500000  70117.500000
Interest Rate      0.138800      0.103800      0.082700      0.077600

Year                   2000          2004          2008        2012  \
Region I       71481.666667  74293.333333  75176.666667  73780.0000
Region II      73230.000000  74110.000000  76260.000000  71005.0000
Region III     71874.000000  69350.000000  70038.000000  69758.0000
Region IV      59600.000000  56643.750000  55656.250000  53446.2500
Region IX      73880.000000  72872.500000  72530.000000  64460.0000
Region V       73576.666667  68120.000000  66453.333333  63565.0000
Region VI      53524.000000  56952.000000  56352.000000  55098.0000
Region VII     67852.500000  63180.000000  64160.000000  63762.5000
Region VIII    64455.000000  64631.666667  70473.333333  66920.0000
Region X       70495.000000  70580.000000  72387.500000  70010.0000
Interest Rate      0.080800      0.058800      0.062300      0.0388

Year                   2016          2020  ...    1981    1980   1979    1978  \
Region I       79526.666667  87785.000000  ...     NaN     NaN    NaN     NaN
Region II      77935.000000  86915.000000  ...     NaN     NaN    NaN     NaN
Region III     72854.000000  83376.000000  ...     NaN     NaN    NaN     NaN
Region IV      59670.000000  63317.500000  ...     NaN     NaN    NaN     NaN
Region IX      75382.500000  80802.500000  ...     NaN     NaN    NaN     NaN
Region V       71708.333333  77416.666667  ...     NaN     NaN    NaN     NaN
Region VI      58946.000000  61716.000000  ...     NaN     NaN    NaN     NaN
Region VII     69077.500000  77870.000000  ...     NaN     NaN    NaN     NaN
Region VIII    74108.333333  79708.333333  ...     NaN     NaN    NaN     NaN
Region X       78510.000000  84455.000000  ...     NaN     NaN    NaN     NaN
Interest Rate      0.037900      0.033800  ...  0.1664  0.1374  0.112  0.0964

Year             1977    1976    1975    1974    1973    1972
Region I          NaN     NaN     NaN     NaN     NaN     NaN
Region II         NaN     NaN     NaN     NaN     NaN     NaN
Region III        NaN     NaN     NaN     NaN     NaN     NaN
Region IV         NaN     NaN     NaN     NaN     NaN     NaN
Region IX         NaN     NaN     NaN     NaN     NaN     NaN
Region V          NaN     NaN     NaN     NaN     NaN     NaN
Region VI         NaN     NaN     NaN     NaN     NaN     NaN
Region VII        NaN     NaN     NaN     NaN     NaN     NaN
Region VIII       NaN     NaN     NaN     NaN     NaN     NaN
Region X          NaN     NaN     NaN     NaN     NaN     NaN
Interest Rate  0.0885  0.0887  0.0905  0.0919  0.0804  0.0738

[11 rows x 52 columns]

In [143]:
#income_with_rates_cleaned = average_income_with_rates_df.dropna(axis=1, how='all')
#income_with_rates_cleaned

In [172]:
columns_to_keep = average_income_with_rates_df.loc[average_income_with_rates_df.index != 'Interest Rate'].dropna(axis=1, how='all').columns

# Keep only these columns
average_income_with_rates_df = average_income_with_rates_df[columns_to_keep]

# Display the cleaned dataframe
average_income_with_rates_df

Year,1984,1988,1992,1996,2000,2004,2008,2012,2016,2020
Region I,62345.000000,70926.666667,67466.666667,65893.333333,71481.666667,74293.333333,75176.666667,73780.0000,79526.666667,87785.000000
Region II,63080.000000,73295.000000,67700.000000,72800.000000,73230.000000,74110.000000,76260.000000,71005.0000,77935.000000,86915.000000
Region III,60414.000000,65558.000000,62328.000000,64174.000000,71874.000000,69350.000000,70038.000000,69758.0000,72854.000000,83376.000000
Region IV,46817.500000,50811.250000,49691.250000,55685.000000,59600.000000,56643.750000,55656.250000,53446.2500,59670.000000,63317.500000
Region IX,64195.000000,66170.000000,66817.500000,66210.000000,73880.000000,72872.500000,72530.000000,64460.0000,75382.500000,80802.500000
Region V,58176.666667,64335.000000,60575.000000,67043.333333,73576.666667,68120.000000,66453.333333,63565.0000,71708.333333,77416.666667
Region VI,50374.000000,48828.000000,49642.000000,50236.000000,53524.000000,56952.000000,56352.000000,55098.0000,58946.000000,61716.000000
Region VII,54885.000000,55352.500000,56290.000000,58880.000000,67852.500000,63180.000000,64160.000000,63762.5000,69077.500000,77870.000000
Region VIII,55896.666667,55295.000000,56918.333333,58155.000000,64455.000000,64631.666667,70473.333333,66920.0000,74108.333333,79708.333333
Region X,63245.000000,65555.000000,65392.500000,70117.500000,70495.000000,70580.000000,72387.500000,70010.0000,78510.000000,84455.000000
Interest Rate,0.138800,0.103800,0.082700,0.077600,0.080800,0.058800,0.062300,0.0388,0.037900,0.033800